<div class="card m-3">
  <h5 class="card-header">Angular Test</h5>
  <div class="card-body">
    <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-5">
          <label>First Name</label>
          <input type="text" formControlName="firstName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['firstName']['errors'] }" />
          <div *ngIf="submitted && f['firstName']['errors']" class="invalid-feedback">
            <div *ngIf="f['firstName']['errors']['required']">First name cannot be blank</div>
          </div>
        </div>
        <div class="form-group col-5">
          <label>Last Name</label>
          <input type="text" formControlName="lastName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['lastName']['errors'] }" />
          <div *ngIf="submitted && f['lastName']['errors']" class="invalid-feedback">
            <div *ngIf="f['lastName']['errors']['required']">Last name cannot be blank</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-5">
          <label>Date Of Birth</label>
          <input type="date" formControlName="dob" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['dob']['errors'] }" />
          <div *ngIf="submitted && f['dob']['errors']" class="invalid-feedback">
            <div *ngIf="f['dob']['errors']['required']">Date of birth cannot be blank</div>
            <div *ngIf="f['dob']['errors']['invalidDateOfBirth']">Date of birth is invalid</div>
          </div>
        </div>
        <div class="form-group col-5">
          <label>Postal Code</label>
          <input type="text" formControlName="postalCode" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['postalCode']['errors'] }" />
          <div *ngIf="submitted && f['postalCode']['errors']" class="invalid-feedback">
            <div *ngIf="f['postalCode']['errors']['required']">Postal code cannot be blank</div>
            <div *ngIf="f['postalCode']['errors']['inValidPostalCode']">Postal code is invalid</div>
          </div>
        </div>
      </div>
      <div class="text-left">
        <button class="btn btn-primary mr-1">Next</button>
        <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
      </div>
    </form>
  </div>
</div>